### --- General / System --- ###
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.log
.history/

### --- Environment Files --- ###
.env
.env.local
.env.*
!.env.example

### --- Docker --- ###
.docker/
nginx/certs/*.crt
nginx/certs/*.key
nginx/certs/*.pem

### --- Laravel Specific (Root scope) --- ###
laravel/storage/*.key
laravel/vendor/
laravel/node_modules/
laravel/public/storage
laravel/public/hot
laravel/storage/framework/cache/data/*
laravel/storage/framework/sessions/*
laravel/storage/framework/testing/*
laravel/storage/framework/views/*
laravel/storage/logs/*
laravel/.phpunit.result.cache

### --- FastAPI Specific (Root scope) --- ###
fastapi/__pycache__/
fastapi/*.py[cod]
fastapi/*$py.class
fastapi/.venv/
fastapi/venv/
fastapi/env/
fastapi/.pytest_cache/
fastapi/.build/
fastapi/dist/